<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Травел агенство Лига</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<script th:src="@{/js/userOperation.js}" type="text/javascript"></script>

<form id="userProfileForm">
    <output class="colorKhaki" th:text="'Вы зашли как ' + ${name}"></output>
    <br>
    <output id="userID" class="colorKhaki" th:text="'Ваш ID: ' + ${id}"></output>
    <br>
    <button id="shoUserProfile" class="collapsible">Показать профиль полность</button>
    <div class="content">
        //TODO
    </div>
</form>
<body>
</body>
</html>