<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Травел агенство Лига</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body class="middleBody">
<script th:src="@{/js/login.js}" type="text/javascript"></script>
<h1 class="colorKhaki">Добро пожаловать</h1>
<form id="loginForm" method="GET" action="/account">
    <div>
        <label class="colorKhaki">Введите почту</label>
        <br>
        <input class="inputLoginText" type="text" name="mail" id="mail" title="Почта">
    </div>
    <div>
        <label class="colorKhaki">Пароль</label>
        <br>
        <input class="inputLoginText" type="text" name="password" id="password" title="Пароль">
    </div>
    <div>
        <button id="tryToLogin" class="enterButton" type="submit">Войти</button>
    </div>
</form>
<form id="toRegistrationForm" method="GET" action="/redirectOnRegistration">
    <button id="goToRegistration" class="registrationButton"
            type="submit">Зарегистрироваться</button>
</form>
</body>
</html>